
$fontHeading: "Montserrat";
$navbarBrandFont: "Ubuntu";
$color-red:  #ff4c68;
$color-orangeRed: #ef8172;
$color-white : #fff;
$text-align-center: center;
$cfluid-padding: 7% 15%;
$topPadFluid:3%;
$RightLeftPadFluid:15%;
$BottomPadFluid:7%;